{{!-- <div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <p class="summary"></p>
                <p class="link"></p>
            </div>
        </div>
    </div>
</div> --}}


<hr/> {{#each data}}
<h3 data-id='{{id}}'>{{headline}}</h3>
{{link}}
<br/> {{summary}}
<br/>
<button data-id='{{_id}}' id='saveArticle'>Save Article</button>
<br/>
<hr/> {{/each}}